<form>
  <label>Artist Name:</label><br>
  <input type="text" id="name" name="artist[name]"><br>

  <label>Artist Bio:</label><br>
  <textarea id="post_description" name="post[description]"></textarea><br>

  <input type="submit" value="Submit Post">
</form>
