<h3>Artist Form</h3>
<form>
  <label>Artist Name:</label><br>
  <input type="text" id="name" name="artist[name]"><br>

  <label>Artist Bio:</label><br>
  <textarea id="bio" name="artist[bio]"></textarea><br>

  <input type="submit" value="Submit Post">
</form>
